# folders
.vs/
.vscode/
_Build/
Build/
Thirdparty/assimp
Thirdparty/entt
Thirdparty/glfw
Thirdparty/gli
Thirdparty/glm
Thirdparty/imgui
Thirdparty/json
Thirdparty/premake
Thirdparty/tinygltf
Thirdparty/vulkan-sdk
Editor/Build
Editor/Profiler
Engine/Build

# extensions
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.spv
*Makefile