# folders
.vs/
.vscode/
_Build/
Thirdparty/entt
Thirdparty/glfw
Thirdparty/gli
Thirdparty/glm
Thirdparty/imgui
Thirdparty/json
Thirdparty/premake
Thirdparty/tinygltf
Editor/Profiler

# extensions
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.spv
*Makefile